.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border:  solid 1px #DDDDDD;
}
button {
    background-color: #FF5A5F;
    color:#FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    position: absolute;
    top: 12px;
    right: 30px;
    border: 0;
    border-radius: 4px;
   
}
button:hover {
    opacity: 90%;
}
.location {
    height:100%;
    width:25%;
    border-right: solid 1px #DDDDDD;
    position:absolute;
}
.amenities {
    height: 100%;
    width:25%;
    position: absolute;
    right: 50%;
   
}
h2 {
    font-size: 16px;
}

h3 {
    font-weight: 600;
    position: absolute;
    left:15%;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    position:absolute;
    left:15%;
    top:30%;
}
.ul {
    color: #FAFAFA;
    border:#DDDDDD solid 1px radius 4px;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}